<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/e194495d56.js" crossorigin="anonymous"></script>
</head>
<body>
	<section class="form-register">
        <h4>Crea una cuenta</h4>
		<input class="controls" type="text" name="rut" id="rut" placeholder="Ingrese su rut">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
		<input class="controls" type="text" name="email" id="email" placeholder="Ingrese su email">
		<input class="controls" type="text" name="contrasena" id="contrasena" placeholder="Ingrese su contrasena">
        <input class="controls" type="text" name="Departamento" id="Departamento" placeholder="Ingrese su Departamento">
        <input class="controls" type="text" name="Oficina" id="Oficina" placeholder="Ingrese su Oficina">
        <input class="controls" type="text" name="Cargo" id="Cargo" placeholder="Ingrese su Cargo">
        <input class="botons" type="submit" value="Registrar">
    </section>
</body>
</html>